.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.door {
  background-color: #000;
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  transition: transform 1.5s ease-in-out;
  z-index: 5;
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding-left: 100px;
}

.left-heading{
  font-size: 40px;
  margin-bottom: 0;
}

.right-heading{
  text-align: right;
  font-size: 40px;
  padding-right: 100px;
}

.unorder-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.number{
  font-size: 40px;
  font-weight: bold;
}

/* Left and Right door positions */
.left-door {
  left: 0;
}

.right-door {
  right: 0;
}

/* Door opening animation */
.open-left {
  transform: translateX(-100%);
}

.open-right {
  transform: translateX(100%);
}

/* Animation class for form */
.fade-rotate {
  animation: rotateFade 1s ease-in-out forwards;
}

@keyframes rotateFade {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) rotate(360deg);
  }
}


/* Login form in center */
.login-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  z-index: 10;
  position: relative;
}

.login-form-container {
  position: relative;
  z-index: 10;
  border-radius: 50%;
}

.login-container label {
  color: #000;
  text-align: center;
}

.login-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  font-size: 16px;
}

.login-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #222;
}

.error {
  color: #ff5252;
  font-weight: bold;
  text-align: center;
}
